extends layout

block content

  h1 Author: #{author.full_name}
  div.bd_range
    p #{author.dob} -
      if author.dod != null
        p #{author.dod}
      else
        p Unavailable

  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    if books.length
      dl
        each book in books
          dt
            a(href=`/books/${book.book_id}`) #{book.title}
          dd #{book.summary}
      p #[strong If you wish to delete an author you must remove their books first]
    else
      p This author has no books.
  
  hr
  p
    a(href=`/authors/${author.author_id}/delete`) Delete author
